<div class="cotizador-title bg-dark">
    <h2 class="text-center text-yellow">BIENVENIDOS AL COTIZADOR. <br>Cotiza en minutos</h2> 
   <div class="center-text">
    <h3>Solo sigue estos sencillos pasos. </h3>
    <ul class="text-light">
      <li>Selecciona una sucursal.</li>
      <li>Escribe el modelo de tu auto (p.ej. Jetta) y el año.</li>
      <li>Selecciona el número de piezas utilizando el botón +</li>
      <li>Da clic en “Descarga cotización” para descargar un archivo en PDF y puedas mostrarlo o enviarlo a tu cliente.</li>
   </ul>
  <p>
    Si requieres realizar un pedido, completa tus datos en la sección de REGISTRO.</br>
    Si tienes dudas sobre alguna etapa, puedes consultar nuestra <a class="text-yellow" href="https://erso.com.mx/blog/post/guia-rapida-para-usar-el-cotizador">Guía rápida.</a>
  </p>
   </div>
</div>

  


