<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img class="w-100" src="https://dummyimage.com/300x300" alt="">
      </div>
      <div class="col-md-8">
        <h6>Product title</h6>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ea[...]</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-0"><small>Lorem, ipsum dolor.</small></li>
          <li class="list-group-item p-0"><small>Lorem ipsum dolor sit amet.</small></li>
          <li class="list-group-item p-0"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores!</small></li>
          <li class="list-group-item p-0"><small>Lorem, ipsum dolor.</small></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-info">Agregar al carrito</button>
  </div>
</div>