{% put title %} 
  {%if category ==''%}
    {%if branch == 'Tlalnepantla' %}
    <title>Refacciones para auto en {{branch}} | Refaccionaria ERSO</title>
    <meta name="description" content="¿Buscas refacciones para auto en Tlalnepantla? En ERSO tenemos justo lo que necesitas. Variedad de refacciones para todas las marcas.">

    {%elseif branch == "Coacalco" %}
    <title>Busca refacciones para auto en {{branch}} | Refaccionaria ERSO</title>
    <meta name="description" content="¿Necesitas refacciones para tu auto y estás cerca de Coacalco? En ERSO tenemos todo lo que estás buscando. ¡Visítanos!">

    {% elseif branch == "Cuautitlan-izcalli"%}
    <title>Refacciones en {{branch}} | Refaccionaria ERSO</title>
    <meta name="description" content="Una gran variedad de refacciones para autos de todas las marcas en Cuautitlán Izcalli. En ERSO tenemos lo que tu auto necesita.">
    {%endif%}
  {%endif%}
{% endput %}