{% put title %} 
  {% if branch == "tlalnepantla" %}
    {% if category == "amortiguador" %}
      <title>Encuentra la marca de tus amortiguadores | ERSO Tlalnepantla</title>
      <meta name="description" content="¿A tu auto le hacen falta amortiguadores? ¡En ERSO tenemos las piezas que necesitas de todas las marcas. Búscalos en nuestra sucursal de Tlalnepantla." >
      {% elseif category == "suspension" %}
      <title>Las mejores refacciones de suspensión | ERSO Tlalnepantla</title>
      <meta name="description" content="¡No te quedes sin suspensión! Compra las mejores refacciones para suspensión en nuestra sucursal de Tlalnepantla." >
      {% elseif category == "direccion" %}
      <title>Refacciones para dirección hidráulica| ERSO Tlalnepantla</title>
      <meta name="description" content="¡Que no le haga falta nada a tu auto! Si buscas refacciones para dirección hidráulica en Tlalnepantla, en ERSO las tenemos para ti." >
      {% elseif category == "traccion" %}
      <title>¿Necesitas refacciones para tracción? | ERSO Tlalnepantla</title>
      <meta name="description" content="Las mejores refacciones para tracción de auto y de todas las marcas las encuentras en ERSO sucursal Tlalnepantla. ¡Cotiza en línea lo que tu auto necesita!" >
      {% elseif category == "embrague" %}
      <title>Refacciones para embrague / clutch | ERSO Tlalnepantla</title>
      <meta name="description" content="¿Le falla el clutch a tu auto? En ERSO sucursal Tlalnepantla tenemos la solución. Encuentra refacciones de embrague de todas las marcas." >
      {% elseif category == "frenos" %}
      <title>Las mejores refacciones para frenos| ERSO Tlalnepantla</title>
      <meta name="description" content="¡Que tu auto no se quede sin frenos! En ERSO vas a encontrar refacciones para los frenos de tu auto. Estás a un clic de encontrar lo que necesitas." >
      {% elseif category == "soporte" %}
      <title>Encuentra soportes para tu auto | ERSO Tlalnepantla</title>
      <meta name="description" content="Si necesitas soportes de auto cerca de Tlalnepantla el mejor lugar para encontrarlas es Refaccionarias ERSO. ¡Cotiza en nuestra tienda en línea!" >
    {% endif %}
  {% elseif branch == "coacalco" %}
    {% if category == "amortiguador" %}
      <title>Encuentra amortiguadores. Todas las marcas| ERSO Coacalco</title>
      <meta name="description" content="¿A tu auto le hacen falta amortiguadores? ¡En ERSO tenemos las piezas que necesitas de todas las marcas. Búscalos en nuestra sucursal de Coacalco." >
      {% elseif category == "suspension" %}
      <title>Las mejores refacciones para suspensión | ERSO Coacalco</title>
      <meta name="description" content="¡No te quedes sin suspensión! Compra las mejores refacciones para suspensión en nuestra sucursal de Coacalco." >
      {% elseif category == "direccion" %}
      <title>Cotiza refacciones para dirección hidráulica| ERSO Coacalco</title>
      <meta name="description" content="¡Que no le haga falta nada a tu auto! Si buscas refacciones para dirección hidráulica en Coacalco, en ERSO las tenemos para ti." >
      {% elseif category == "traccion" %}
      <title>¿Necesitas refacciones para tracción? | ERSO Coacalco</title>
      <meta name="description" content="Las mejores refacciones para tracción de auto y de todas las marcas las encuentras en ERSO sucursal Coacalco. ¡Cotiza en línea lo que tu auto necesita!" >
      {% elseif category == "embrague" %}
      <title>Refacciones para embrague / clutch | ERSO Coacalco</title>
      <meta name="description" content="¿Le falla el clutch a tu auto? En ERSO sucursal Coacalco tenemos la solución. Encuentra refacciones de embrague de todas las marcas." >
      {% elseif category == "frenos" %}
      <title>Las mejores refacciones para frenos| ERSO Coacalco</title>
      <meta name="description" content="¡Que tu auto no se quede sin frenos! En ERSO vas a encontrar refacciones para los frenos de tu auto. Estás a un clic de encontrar lo que necesitas." >
      {% elseif category == "soporte" %}
      <title>Encuentra soportes para tu auto | ERSO Coacalco</title>
      <meta name="description" content="Si necesitas soportes de auto cerca de Coacalco el mejor lugar para encontrarlas es Refaccionarias ERSO. ¡Cotiza en nuestra tienda en línea!" >
    {% endif %}
  {% else %}
    {% if category == "amortiguador" %}
      <title>Encuentra amortiguadores de auto | ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="¿A tu auto le hacen falta amortiguadores? ¡En ERSO tenemos las piezas que necesitas de todas las marcas. Búscalos en nuestra sucursal de Cuautitlan Izcalli." >
      {% elseif category == "suspension" %}
      <title>Refacciones para suspensión | ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="¡No te quedes sin suspensión! Compra las mejores refacciones para suspensión en nuestra sucursal de Cuautitlan Izcalli." >
      {% elseif category == "direccion" %}
      <title>Refacciones de dirección hidráulica| ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="¡Que no le haga falta nada a tu auto! Si buscas refacciones para dirección hidráulica en Cuautitlan Izcalli, en ERSO las tenemos para ti." >
      {% elseif category == "traccion" %}
      <title>¿Necesitas refacciones de tracción? | ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="Las mejores refacciones para tracción de auto y de todas las marcas las encuentras en ERSO sucursal Cuautitlan Izcalli. ¡Cotiza en línea lo que tu auto necesita!" >
      {% elseif category == "embrague" %}
      <title>Refacciones de embrague / clutch | ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="¿Le falla el clutch a tu auto? En ERSO sucursal Cuautitlan Izcalli tenemos la solución. Encuentra refacciones de embrague de todas las marcas." >
      {% elseif category == "frenos" %}
      <title>Las mejores refacciones de frenos| ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="¡Que tu auto no se quede sin frenos! En ERSO vas a encontrar refacciones para los frenos de tu auto. Estás a un clic de encontrar lo que necesitas." >
      {% elseif category == "soporte" %}
      <title>Encuentra soportes para tu auto | ERSO Cuautitlan Izcalli</title>
      <meta name="description" content="Si necesitas soportes de auto cerca de Cuautitlan Izcalli el mejor lugar para encontrarlas es Refaccionarias ERSO. ¡Cotiza en nuestra tienda en línea!" >
    {% endif %}
  {% endif %}


  
{% endput %}
