.cotizador-title
  color: white
  padding: 10px
  h2
      margin: 0px auto
  .center-text
      width: 80%
      margin: 0px auto
  p
    margin: 0px auto
    text-align: justify
    line-height: 2.5em
    margin-bottom: 0px
    @media screen and ( max-width: 1024px )
      width: 100%