.step
  align-items: center
  display: flex
  min-height: 150px
  justify-content: center
  overflow: hidden
  position: relative
  padding: 0
  width: 100%
  .step-bg
    height: 100%
    left: 0
    object-fit: cover
    object-position: center
    position: absolute
    top: 0
    width: 100%
  .step-text
    align-items: center
    background: radial-gradient(rgba(0,0,0,.6) 0%, rgba(0,0,0,.6) 50%, rgba(0,0,0,.2) 100%)
    background-size: 5px 5px
    color: white
    display: flex
    font-weight: bolder
    font-size: 2.3em
    height: 100%
    justify-content: center
    margin: 0
    padding: 10px 5%
    position: absolute
    top: 0
    text-shadow: 0 5px 15px rgba(0, 0, 0, .8  )
    width: 100%
    z-index: 1
  @media screen and ( min-width: 768px )
    min-height: 250px
    .step-text
      font-size: 2.8em
  @media screen and(min-width:1280px)
    .step-text
      font-size: 3.8em

.step-principal
  @media screen and ( min-width: 768px )
    .step-text
      padding: 130px 5%
  @media screen and ( min-width: 1024px )
    .step-text
    padding: 180px 5%