<footer class="main-footer pt-5 pb-2 bg-dark">
  <div class="container pb-4">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <img src="{{ 'assets/img/brand/brand_logo_erso_white.svg'|theme }}" alt="">
      </div>
      <div class="col-sm-9">
        <div class="row">
          <a class="col-12 col-sm-2 pr-sm-0 offset-md-3 text-center text-sm-right text-light" href="/nosotros"><b>&#8226; Nosotros</b></a>
          <a class="col-12 col-sm-4 col-md-3 pr-sm-0 text-center text-sm-right text-light" href="#"><b>&#8226; Aviso de privacidad</b></a>
          <a class="col-12 col-sm-4 col-md-3 pr-sm-0 text-center text-sm-right text-light" href="/login"><b>&#8226; Registro de clientes</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <hr>
    <div class="text-muted small">Todos los derechos reservados ERSO &reg; {{ ''|date('Y') }} | desarrollado por: <a class="text-light small" href="/">LOFTONTI &reg;</a></div>
  </div>
</footer>