<footer class="main-footer pt-5 pb-2 bg-dark">
  <div class="container pb-4">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <img class="footer_logo" src="{{ 'assets/img/brand/logo_web_erso_white.png'|theme }}" alt="">
      </div>
      <div class="col-sm-6">
        <div class="row text-center">
          <a class="col-12 col-sm-3 pr-sm-0 pr-2 text-center text-sm-right text-light" href="/nosotros"><b>&#8226; Nosotros</b></a>
          <a class="col-12 col-sm-4 col-md-4 pr-sm-0 text-center text-sm-right text-light" href="/aviso-de-privacidad"><b>&#8226; Aviso de privacidad</b></a>
          <a class="col-12 col-sm-4 col-md-4 pr-sm-0 text-center text-sm-right text-light" href="/login"><b>&#8226; Registro de clientes</b></a>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <a href="https://wa.me/525527358877"><img class="footer_whats" src="{{ 'assets/img/whatsapp.png'|theme }}" alt="525527358877"></a>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <hr>
    <div class="text-muted small">Todos los derechos reservados ERSO &reg; {{ ''|date('Y') }} | desarrollado por: <a class="text-light small" href="/">LOFTON Ti &reg;</a></div>
  </div>
</footer>