<nav class="navbar navbar-main-erso fixed-top p-0">
  <div class="container navbar-items-container">
    
    <a class="navbar-brand text-light"><img src="{{ 'assets/img/brand/brand_logo_erso_white.svg'|theme  }}" alt="Logo ERSO blanco"></a>
    <!-- <a class="navbar-brand text-light"><img src="{{ 'assets/img/brand/brand_logo_erso_color.png'|theme  }}" alt="Logo ERSO"></a> -->

    <span class="oi oi-menu text-light icon-menu-navbar-erso"></span>

    {% partial "site/_main-menu" %}

  </div>
</nav>