title = "Productos"
url = "/productos/:branch?/:category?/:shipowner?/:model?/:year?/:brand?"
layout = "_default"
is_hidden = 0

[ListProducts]
branch = "{{ :branch }}"
category = "{{ :category }}"
model = "{{ :model }}"
shipowner = "{{ :shipowner }}"
year = "{{ :year }}"
brand = "{{ :brand }}"

[ListCategories]
branch = "{{ :branch }}"

[SelectBranch]
branch = "{{ :branch }}"
==
{%
    partial 'components/_step'
    title = this.param.category != null ? this.param.category|capitalize : "Nuestros productos"
    align= "center"
    type= "light"
    local= true
    color= "dark"
    branch = this.param.branch|capitalize 
    principal = false
    category = this.param.category|capitalize 
    img= "cover_01.jpg"|media
%}

{% if (this.param.branch == '') %}
    {% component 'SelectBranch' %}
{% endif %}

{% if (this.param.category == '') and (this.param.branch != '') %}
    {% component 'ListCategories' %}
    <!-- {% partial 'components/products/_recommended' %} -->
{% endif %}

{% component 'ListProducts' %}