<div class="home-blog-block">
  <div class="main-block">
    <img src="{{ 'assets/img/6496.jpg'|theme }}" alt="" class="image-main-block">
    <div class="main-block-data">
      <h5 class="title-main-block text-yellow border-bottom border-yellow pb-3">Lorem ipsum dolor sit amet consectetur adipisicing[...]</h5>
      <p class="text-main-block text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita similique odit dolorem eveniet assumenda iure officia quasi cum nesciunt laudantium[...]</p>
      <a href="/" class="btn btn-info btn-lg btn-block">Ver más</a>
    </div>
  </div>
  <div class="secondary-block">
    {% for item in 0..3 %}
    <div class="secondary-block-item">
      <img src="{{ 'assets/img/6496.jpg'|theme }}" alt="" class="image-secondary-block">
      <div class="secondary-block-data text-center">
        <h5 class="title-secondary-block text-center text-yellow">Lorem ipsum dolor sit amet consectetur adipisicing[...]</h5>
        <a href="/" class="btn btn-info btn-sm">Ver más</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>