<div class="py-5">
    <h4 class="text-muted text-center">Búsqueda</h4>
    <div>
        <label class="label">Buscar:</label>
        <input type="search" name="" id="" class="form-control">
    </div>
    <hr>
    <h4 class="text-muted text-center">Categorías</h4>
    <hr>
    <ul class="list-group list-group-flush">
        {% for category in categories %}
        <li class="list-group-item bg-transparent">
            <input type="checkbox" name="{{ category.slug }}" id="{{ category.slug }}">
            <span>{{ category.name }}</span>
        </li>
        {% endfor %}
    </ul>
</div>