<div
    class="recents-full-content col-lg-12"
    style="background-image: url('{{ 'footer_03.png'|media }}');"
>
    <div class="py-5">
        <!-- <div class=" blog-recents-container"> -->
        <div class="recents-container col-lg-12">
            {% set e = 0 %} {% for post in posts %}
            <div class="bg-white col-lg-5 recent-item recent-secondary">
                <div class="container-image">
                    <img
                        class="recent-item-image"
                        src="{{ post.cover.path }}"
                        alt=""
                    />
                </div>
                <div class="recent-item-text">
                    <h5 class="text-dark">{{ post.title }}</h5>
                    <hr class="border-dark" />
                    <h6 class="text-muted text-left w-100 small">
                        {{ post.created_at }}
                    </h6>
                    <p class="small">{{ post.excerpt }}</p>
                    <div class="text-center">
                        <a
                            href="/blog/post/{{ post.slug }}"
                            class="btn btn-dark"
                            >Ver más</a
                        >
                    </div>
                </div>
            </div>
            {% set e = e +1 %} {% if(e > 2) %} {% set e = 0 %} {% endif %} {%
            endfor %}
        </div>
        <!-- </div> -->
    </div>
</div>
