<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ this.page.title }}</title>
  <meta name="description" content="{{this.page.meta_description}}">
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ [
    'assets/css/app.css',
    'assets/fonts/open-iconic/font/css/open-iconic-bootstrap.css',
    'assets/fontawesome/css/all.css'
  ]|theme }}">
</head>
<body>

  <div id="app">
    <filters-search-products></filters-search-products>
    <main-products-browser></main-products-browser>
    <cart-fixed-global></cart-fixed-global>
    {% partial "site/_main-navbar" %}
    {% partial "site/_header" %}
    {% page %}
    {% partial "site/_footer" %}
  </div>

  <script src="{{ 'assets/js/app.js'|theme }}"></script>
  <script src="{{ 'assets/js/main.js'|theme }}"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  
</body>
</html>