<div class="branches">
  <a href="/contacto/tlalnepantla" class="branch-item bg-dark" style="background-image: url({{ 'assets/img/map_tlalnepantla.png'|theme }});">
    <div class="branch-data">
      <span class="oi oi-map-marker icon-branch-pin text-white"></span>
      <h3 class="text-white">Tlalnepantla</h3>
    </div>
  </a>
  <a href="/contacto/cuautitlan-izcalli" class="branch-item bg-primary" style="background-image: url({{ 'assets/img/maps_cuatitlan_izcalli.png'|theme }});">
    <div class="branch-data">
      <span class="oi oi-map-marker icon-branch-pin text-white"></span>
      <h3 class="text-white">Cuautitlán Izcalli</h3>
    </div>
  </a>
  <a href="/contacto/coacalco" class="branch-item bg-dark" style="background-image: url({{ 'assets/img/map_coacalco.png'|theme }});">
    <div class="branch-data">
      <span class="oi oi-map-marker icon-branch-pin text-white"></span>
      <h3 class="text-white">Coacalco</h3>
    </div>
  </a>
</div>