<contact-form class="form-home-contact" style="background-image: url({{ 'bg-contact-form.jpg'|media }});" :branch_data="{{ branch is defined ? branch : 'false' }}">
  <h2 class="text-center text-light">Contáctanos</h2>
  <div class="row">
    <div class="col-12 mb-4">
      <label class="text-white lead">Nombre:</label>
      <input type="text" class="form-control bg-transparent text-white border-white" name="fullname" id="fullname" required>
    </div>
    <div class="col-md-6 mb-4">
      <label class="text-white lead">Correo:</label>
      <input type="email" class="form-control bg-transparent text-white border-white" name="email" id="email" required>
    </div>
    <div class="col-md-6 mb-4">
      <label class="text-white lead">Teléfono:</label>
      <input type="number" class="form-control bg-transparent text-white border-white input-number" name="phone" id="phone" max="9999999999" required>
    </div>
    <div class="col-12 mb-4">
      <label class="text-white lead">Comentarios:</label>
      <textarea name="comments" id="comments" rows="4" class="form-control bg-transparent text-white border-white"></textarea>
    </div>
  </div>
</contact-form>
