<nav class="navbar navbar-dark bg-dark">
  <div class="container">

    <a href="/" class="navbar-brand text-light">App Shopping</a>

    <ul class="navbar-menu">
      <li class="nav-item text-light">
        <a href="/" class="text-light">Productos</a>
      </li>
      <li class="nav-item text-light">
        <a href="{{ 'categorias'|page }}" class="text-light">Categorías</a>
      </li>
      <li class="nav-item text-light">
        <a href="/" class="text-light">Registro</a>
      </li>
      <li class="nav-item text-light">
        <a href="/" class="text-light">Mi cuenta</a>
      </li>
      <li class="nav-item text-light">
        <a href="/" class="text-light">Contacto</a>
      </li>
    </ul>

  </div>
</nav>