<div class="list-category-content bg-light">
  {% for category in categories %}
    <a href="/productos/{{ category.category_slug }}" class="list-category-item">
      <div class="list-category-item-bg">
        <img src="{{ category.category_cover|media }}" alt="{{ category.category_name }}">
      </div>
      <div class="list-category-item-text h5">
        <span>{{ category.category_name }}</span>
        <div class="w-100 mt-3">
          <button class="btn btn-light bg-transparent text-white h6">Ver Productos</button>
        </div>
      </div>
    </a>
  {% endfor %}
</div>