<div class="bg-transparent">
    <div class="container py-5">
      <h4 class="text-dark">Productos recomendados:</h4>
      <hr>
  
      <div class="row">
  
        {% for i in 0..3%}
        <div class="col-md-6 col-xl-3">
          <div class="card product-recommended">
            <div class="card-header product-recommended-header">
              <img src="{{ '/640x360.png'|media }}" alt="">
            </div>
            <div class="card-body product-recommended-body">
              <h6 class="text-dark text-center">
                <span class="product-recommended-title">Lorem, ipsum dolor.</span>
                <hr>
                <div class="small product-recommended-note">30% de descuento</div>
              </h6>
              <div class="text-center py-3">
                <button class="btn btn-dark bg-transparent text-dark px-3">Ver más</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  
      </div>
  
    </div>
  </div>