<div class="form-register">
  <div class="card card-register">
    <div class="card-body">
      <h3 class="text-muted text-center">Registro</h3>
      <hr>
      <form-register>
        <template slot="form">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Nombre(s):</label>
              <input class="form-control" type="text" name="firstname" id="firstname" minlength="2" maxlength="130"
                placeholder="Nombre(s)" required>
              <div id="valid-firstname" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Apellido(s):</label>
              <input class="form-control" type="text" name="lastname" id="lastname" minlength="2" maxlength="130"
                placeholder="Nombre(s)" required>
              <div id="valid-lastname" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Correo:</label>
              <input class="form-control" type="email" name="email" id="email" minlength="2" maxlength="130"
                placeholder="tu@correo" required>
              <div id="valid-email" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Teléfono:</label>
              <input class="form-control" type="text" name="phone" id="phone" minlength="2" maxlength="130"
                placeholder="55 5555 5555" required>
              <div id="valid-phone" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Contraseña:</label>
              <input class="form-control" type="password" name="password" id="password" minlength="8" maxlength="15"
                placeholder="*******" required>
              <div id="valid-password" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Confirmar contraseña:</label>
              <input class="form-control" type="password" name="password2" id="password2" minlength="8" maxlength="15"
                placeholder="*******" required>
              <div id="valid-password2" class="invalid-feedback"></div>
            </div>

            <div class="col-12">
              <hr>
            </div>

            <div class="col-12 col-md-9 mb-3">
              <label class="small text-muted">Dirección:</label>
              <input class="form-control" type="text" name="address1" id="address1" minlength="2" maxlength="130"
                placeholder="Tu calle #555" required>
              <div id="valid-address1" class="invalid-feedback"></div>
            </div>
            <div class="col-md-3 mb-3">
              <label class="small text-muted">Codigo postal:</label>
              <input class="form-control" type="text" name="zip_code" id="zip_code" minlength="5" maxlength="5"
                placeholder="09234" required>
              <div id="valid-zip_code" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Colonia:</label>
              <input class="form-control" type="text" name="suburb" id="suburb" minlength="2" maxlength="130"
                placeholder="Colonia" required>
              <div id="valid-suburb" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Delegación:</label>
              <input class="form-control" type="text" name="country" id="country" minlength="2" maxlength="130"
                placeholder="Delegación" required>
              <div id="valid-country" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">Estado:</label>
              <select class="form-control" name="state" id="state" minlength="2" maxlength="130" placeholder="Estado"
                required>
                <option value="CDMX">CDMX</option>
                <option value="EDOMEX">Estado de Mex.</option>
              </select>
              <div id="valid-state" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small text-muted">País:</label>
              <input class="form-control" type="text" name="city" id="city" minlength="2" maxlength="130" value="México"
                readonly required>
              <div id="valid-city" class="invalid-feedback"></div>
            </div>
            <div class="col-md-12 mb-3">
              <label class="small text-muted">Referencias:</label>
              <input class="form-control" type="text" name="address2" id="address2" minlength="2" maxlength="130">
              <div id="valid-address2" class="invalid-feedback"></div>
            </div>
          </div>
        </template>
      </form-register>
    </div>
  </div>
</div>